<link rel="stylesheet" href="css/common/style.css">
<%- include('header.ejs') %> 
<%- include('footer.ejs') %>
<div class="main">
    <input type="text" name="username" placeholder="username" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <button>Login</button>
</div>